<?xml version="1.0" encoding="utf-8"?>

<robot name="warehouse_robot_desc" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="world">
    </link>

    <xacro:include filename="$(find wh_robot_urdf)/urdf/robot_single.xacro">

    <xacro:robot name="robot_1" parent="world" pos_x="1.0" pos_y="5.0"/>

</robot>